.node {
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

body, html, canvas, div{
	margin: 0;
	padding: 0;
}

body, html{
	width: 100%;
	height: 100%;

	background-color: #2a2a2a;
}

#canvas {
	cursor: pointer;
	background-color: #FFFFFF;
	float: left;
}

#menu{
	float: left;
	height: inherit;
	width: 14%;
	text-align: center;
}

#container{
	float: left;
	height: inherit;
	width: 86%;
}

h5{
	margin-bottom: 0;
}

#inspector {
	color: #FAFAFA;
	background-color: inherit;
	text-align: center;
}

input[type="text"]{
	display: inline-block;
	background-color: #1A1A1A;
	border: none;
	color: #FAFAFA;
}

input[type="button"]{
	background-color: #792;
	border: none;
	padding: 13px 20px 13px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-box-shadow: inset 0 2px 4px rgba(170,255,102,0.5);
	-webkit-box-shadow: inset 0 2px 4px rgba(170,255,102,0.5);
	text-shadow: 0 0px 4px rgba(0,0,0,0.55);
	border-bottom: 1px solid rgba(0,0,0,0.55);
	cursor: pointer;
	margin: 15px;	
}

html
{
	background-color: #000000;
	overflow: hidden;
}

#canvas
{
	background-color: #2a2a2a;
}

