.node {
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

body {
	background-color: #888888;
}

canvas {
	cursor: pointer;
	background-color: #FFFFFF;
	float: left;
}

.inspector {
	background-color: #DDDDDD;
	float: right;
}
