<!DOCTYPE html>
<html>
<head>
	<title>
		Sense4us Simulator
	</title>
	<script src="/easeljs-NEXT.min.js"></script>
	<script src="/jquery-1.11.1.js"></script>
	<script src="/socket.io.js"></script>
	<link rel="stylesheet" href="/style.css" />
</head>
<body>
	<div id="menu">
		<input type="button" class="button" onclick="create_node(null, 0, 0);" value="Create node" />

		<input type="button" class="button" onclick="sense4us.simulation.run();" value="Simulate" />
		
		<div id="inspector">Sense4us Simulator</div>
	</div>
	<div id="container">
		<canvas id="canvas" height="1" width="1" ></canvas>
	</div>

	<div style="clear: left"></div>

	<script src="/get_or_create_html_entity.js"></script>
	<script src="/select_object.js"></script>
	<script src="/events.js"></script>
	<script src="/init_easeljs.js"></script>
	<script src="/network.js"></script>
	<script src="/inspector.js"></script>

	<script src="/entities/node.js"></script>
	<script src="/entities/link.js"></script>
	<script src="/entities/selection_menu.js"></script>

	<script src="/mechanics/selectable.js"></script>
	<script src="/mechanics/draggable.js"></script>
	<script src="/mechanics/selection_menu.js"></script>

	<script src="/graphics/color.js"></script>
	<script src="/graphics/graphic.js"></script>
	<script src="/graphics/selection_menu.js"></script>
	<script src="/graphics/link.js"></script>
	<script src="/graphics/node.js"></script>

	<script src="/handle_menu.js"></script>

	<script src="/simulation.js"></script>

	<script>
		function create_node(id, signal, signal_fire) {
			var node = sense4us.entities.node(id);
			node.set("name", "node_name");
			node.set("signal", signal);
			node.set("signal_fire", signal_fire);
			node.graphics = sense4us.graphics.node(node, sense4us.stage);
			sense4us.stage.addChild(node.graphics.container);
			sense4us.stage.update();
			sense4us.mechanics.draggable(node.graphics);

			return node;
		}

		function create_link(start, end, co, t) {
			var link = sense4us.entities.link(null, start, end, co, t);
			link.graphics = sense4us.graphics.link(link, sense4us.stage);

			sense4us.stage.addChildAt(link.graphics.container, 0);
			sense4us.stage.update();
			sense4us.mechanics.selectable(link.graphics);

			return link;
		}

		sense4us.init_easeljs();
		sense4us.selection_menu = sense4us.entities.selection_menu();
		sense4us.selection_menu.graphics = sense4us.graphics.selection_menu(sense4us.selection_menu, sense4us.stage);
		sense4us.mechanics.selection_menu(sense4us.selection_menu.graphics);

		var node2 = create_node(null, 0, 0);
		var node3 = create_node(null, 0, 0);

		sense4us.events.bind("object_updated", function(object) {
			sense4us.stage.update();
		});
	</script>
</body>
</html>
