<!DOCTYPE html>
<html>
<head>
	<title>
		Example
	</title>
	<script src="/easeljs-NEXT.min.js"></script>
	<script src="/jquery-1.11.1.js"></script>
	<script src="/socket.io.js"></script>
	<link rel="stylesheet" href="/style.css" />
</head>
<body>
	<div id="container">
		<canvas id="canvas" width="1500" height="800"></canvas>
		<div class="inspector">Inspector</div>
		<input type="button" onclick="create_node();" value="Create node" />
	</div>

	<script src="/get_or_create_html_entity.js"></script>
	<script src="/select_object.js"></script>
	<script src="/events.js"></script>
	<script src="/init_easeljs.js"></script>
	<script src="/network.js"></script>
	<script src="/inspector.js"></script>

	<script src="/entities/node.js"></script>
	<script src="/entities/link.js"></script>
	<script src="/entities/selection_menu.js"></script>

	<script src="/mechanics/draggable.js"></script>
	<script src="/mechanics/selection_menu.js"></script>

	<script src="/graphics/graphic.js"></script>
	<script src="/graphics/selection_menu.js"></script>
	<script src="/graphics/link.js"></script>
	<script src="/graphics/node.js"></script>

	<script src="/handle_menu.js"></script>

	<script>
		function create_node() {
			var node = sense4us.entities.node();
			node.set("name", "node_name");
			node.set("value", "node_value");
			node.graphics = sense4us.graphics.node(node, sense4us.stage);
			sense4us.stage.addChild(node.graphics.container);
			sense4us.stage.update();
			sense4us.mechanics.draggable(node.graphics);

			return node;
		}

		function create_link(start, end) {
			var link = sense4us.entities.link(null, start, end);
			link.graphics = sense4us.graphics.link(link, sense4us.stage);
			link.graphics.update_line();
			sense4us.stage.addChild(link.graphics.container);
			sense4us.stage.update();
			sense4us.mechanics.draggable(link.graphics);

			return link;
		}

		sense4us.init_easeljs();
		sense4us.selection_menu = sense4us.entities.selection_menu();
		sense4us.selection_menu.graphics = sense4us.graphics.selection_menu(sense4us.selection_menu, sense4us.stage);
		sense4us.mechanics.selection_menu(sense4us.selection_menu.graphics);
		var node2 = create_node();
		var node3 = create_node();

		sense4us.events.bind("object_updated", function(object) {
			if (object.hasOwnProperty("update_lines")) {
				object.update_lines();
			}
			sense4us.stage.update();
		});
	</script>
</body>
</html>
