body, html, canvas, div{
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}

body, html{
	width: 100%;
	height: 100%;
	overflow: hidden;

	background-color: #2b3846;
}

#container {
	float: left;
	height: inherit;
	width: 100px;
}

#inspector {
	color: #FAFAFA;
	background-color: inherit;
	text-align: center;
	margin-top: 4px;
}

#canvas {
	background-color: #FFFFFF;
	float: left;
	background-color: #334354;
}