.node {
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

body, html, canvas, div{
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}

body, html{
	width: 100%;
	height: 100%;

	background-color: #2b3846;
}

.inner_menu {
	display: none;
}

#canvas {
	cursor: pointer;
	background-color: #FFFFFF;
	float: left;
}

#menu{
	float: left;
	height: inherit;
	width: 180px;
	text-align: center;

	height: 100%;

	padding: 0;
	margin: 0;
}

#container{
	float: left;
	height: inherit;
	width: 100px;
}

h5{
	margin-bottom: 0;
}

#inspector {
	color: #FAFAFA;
	background-color: inherit;
	text-align: center;
	margin-top: 4px;
}

input[type="text"], textarea {
	display: inline-block;
	background-color: #1A1A1A;
	border: none;
	color: #FAFAFA;
}

textarea {
	height: 250px;
}

input[type="button"], .button {
	background-color: #3fb2bb;

	width: 100%;
	padding: 0;
	margin: 0;

	outline: none;
	border: none;
	padding: 13px 20px 13px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 0px 4px rgba(0,0,0,0.55);
	border-bottom: 1px solid rgba(0,0,0,0.55);
	cursor: pointer;
}

.button {
	display: block;
	color: #FAFAFA;
	font: bold 14px Arial;
	padding: 13px 0;
}

#upper_menu .button {
	float: left;
	width: 200px;
	border-left: 1px solid rgba(0,0,0,0.55);
}

#upper_menu h2 {
	float: left;
	display: block;
	margin: 0px;
	padding: 0px;
	padding: 7px 20px 7px;
	color: #FFFFFF;
}

input[type="button"]:active, .button:active, .button:active {
	background-color: #27949c;
}

html
{
	background-color: #000000;
	overflow: hidden;
	height: 100%;
}

#canvas
{
	background-color: #334354;
}

#edit_signal_fire {
}

#edit_signal_fire input {
	height: 100%;
	background-color: #2a2a2a;
	border: none;
	color: #FAFAFA;
	font: bold 14px Arial;
	font-size: 1em;
}