#upper_menu .menu .button {
    color: #fff;
    padding: 13px 20px 13px;
    background-color: #3fb2bb;
    border: none;
    float: left;
    width: 200px;
    border-left: 1px solid rgba(0,0,0,0.55);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0px 4px rgba(0,0,0,0.55);
}

#upper_menu h2 {
    float: left;
    display: block;
    margin: 0px;
    padding: 0px;
    padding: 7px 20px 7px;
    color: #FFFFFF;
}

#upper_menu select {
    float: left;
    width: 200px;
    padding: 13px 20px 13px;
}