<!DOCTYPE html>
<html>
    <head>
        <title>
            Sense4us Simulator
        </title>
        <!--<link rel="stylesheet" href="/css/general.css" />
        <link rel="stylesheet" href="/css/canvas.css" />
        <link rel="stylesheet" href="/css/container.css" />
        <link rel="stylesheet" href="/css/floating-window.css" />
        <link rel="stylesheet" href="/css/keyword-container.css" />
        <link rel="stylesheet" href="/css/upper-menu.css" />
        
        <link rel="stylesheet" href="/css/sidebar.css" />
        <link rel="stylesheet" href="/css/sidebar-slider.css" />

        <link rel="stylesheet" href="/css/scenario.css" />
        <link rel="stylesheet" href="/css/scenario-editor.css" />
        <link rel="stylesheet" href="/css/scenario-table.css" />

        <link rel="stylesheet" href="/css/s4u-dropdown.css" />
        <link rel="stylesheet" href="/css/notification-bar.css" />
        <link rel="stylesheet" href="/css/save-form.css" />
        <link rel="stylesheet" href="/css/time-table.css" />-->

        <link rel="stylesheet" href="/css/model-builder.css" />
        <script src="/js/doc-ready.js"></script>
    </head>
    <body>
        <%- body %>
    </body>
</html>
