<% layout("layout") %>

<div class="header">
    <h3 id="policy-issue">Replace with current policy issue?</h3>
    <!-- <input type="button" value="Button" />
    <input type="button" value="Button" />
    <input type="button" value="Button" />
    <input type="button" value="Button" />
    <input type="button" value="Button" /> -->
</div>

<div class="menu-header">
    <div id="upper-menu"></div>
</div>

<div class="sidebar">
    <div id="sidebar"></div>
</div>

<div class="left main">
    <div id="notification-bar"></div>
    <canvas id="canvas"></canvas>
    <canvas id="linegraph"></canvas>
</div>
<div class="right">
    <div id="keyword-container"></div>
</div>
<div class="clear"></div>
<script src="/js/bundle.js"></script>
