<% layout("layout") %>

<div
    id            = "model-builder"
    data-protocol = "http"
    data-hostname = "localhost"
    data-port     = "3000"
    style         = "height: 700px; width: 1000px;"
></div>

<!--
    style="100px; 100px;" or any dimensions you need.
    The model builder won't fit well in tiny areas though.
-->

<!-- 
    or src="http://our-server/js/model-builder.min.js"
    I don't have it available live yet.

    Gotta set up some uglification.
-->

<script src="/static/js/model-builder.debug.js"></script>
<!-- <script src="/static/js/model-builder.min.js"></script> -->
<script>
    docReady(function() {
        var modelBuilder = document.getElementById("model-builder");
        window.sense4us.inflateModel(modelBuilder);

        var loadedModel = window.sense4us.loadedModel;
        loadedModel.addListener("selected", function() {
            var nodeData = this.nodeData[this.selected.id];
            if(nodeData) {
                console.log("Name:", nodeData.name);
            }
        });

        console.log(window.sense4us.loadedModel);
    });
</script>
