<!DOCTYPE html>
<html>
<head>
	<title>
		Sense4us Simulator
	</title>
	<link rel="stylesheet" href="/css/shorthands.css" />
	<link rel="stylesheet" href="/css/z-index.css" />
	<link rel="stylesheet" href="/css/upper-menu.css" />
	<link rel="stylesheet" href="/css/sidebar.css" />
	<link rel="stylesheet" href="/css/dropdown.css" />
	<link rel="stylesheet" href="/css/notification-bar.css" />
	<link rel="stylesheet" href="/css/save.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div id="sidebar"></div>
	<div id="upper-menu"></div>
	<div id="notification-bar"></div>

	<div id="container">
		<canvas id="canvas"></canvas>
	</div>

	<div style="clear: left"></div>
	<script src="/js/bundle.js"></script>
</body>
</html>
