.s4u-dropdown {
    display: inline-block;

    width: 180px;
    cursor: pointer;
    
    background-color: inherit;
    color: #fff;
    
    text-decoration: none;
    font-weight: bold;

    font-size: 12px;
}

.s4u-dropdown > .s4u-dropdown-header {
    width: inherit;
    padding: 3px 0px;
    
    color: #505050;
    text-align: center;
    margin: 0;
}

@-webkit-keyframes DROPDOWN_FADEIN {
    0%   {
        background-color: rgba(239, 239, 239, 0);
    }

    100% {
        background-color: rgba(255, 255, 255, 1);
    }
}

@-moz-keyframes DROPDOWN_FADEIN {
    0%   {
        background-color: rgba(239, 239, 239, 0);
    }

    100% {
        background-color: rgba(255, 255, 255, 1);
    }
}

@keyframes DROPDOWN_FADEIN {
    0%   {
        background-color: rgba(239, 239, 239, 0);
    }

    100% {
        background-color: rgba(255, 255, 255, 1);
    }
}

.s4u-dropdown > .s4u-dropdown-header:hover {
    background-color: rgba(255, 255, 255, 1);

    -webkit-animation: DROPDOWN_FADEIN 0.5s 1;
    -moz-animation: DROPDOWN_FADEIN 0.5s 1;
    animation: DROPDOWN_FADEIN 0.5s 1;
}

.s4u-dropdown .s4u-dropdown-container > .s4u-dropdown-selected {
    background-color: rgba(58, 153, 153, 0.7);
}

.s4u-dropdown .s4u-dropdown-container {
    position: absolute;
    width: inherit;
    text-align: center;
    box-shadow: 0px 10px 15px 0px rgba(20, 20, 20, 0.3);
    /* box-shadow: 0px 10px 15px 0px rgba(20, 45, 45, 0.7); */
}

@-webkit-keyframes CONTAINER_FADEIN {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes CONTAINER_FADEIN {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes CONTAINER_FADEIN {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.s4u-dropdown .s4u-dropdown-container-animation {
    -webkit-animation: CONTAINER_FADEIN 0.5s 1;
    -moz-animation: CONTAINER_FADEIN 0.5s 1;
    animation: CONTAINER_FADEIN 0.5s 1;
}

.s4u-dropdown .s4u-dropdown-container > div {
    color: #202020;
    padding: 6px 0px;
    background-color: #efefef;
    color: #505050;
    /*background-color: rgba(42, 136, 136, 0.7);*/
}

.s4u-dropdown .s4u-dropdown-container > div:hover {
    background-color: rgba(255, 255, 255, 1);
    /*background-color: rgba(64, 172, 178, 0.7);*/
}

/*
.s4u-dropdown .s4u-dropdown-container > div {
    padding: 6px 0px;
    background-color: rgba(42, 136, 136, 0.7);
}

.s4u-dropdown .s4u-dropdown-container > div:hover {
    background-color: rgba(64, 172, 178, 0.7);
} */
