#sidebar {
    text-align: center;

    height: 100%;

    padding: 0;
    margin: 0;
}

#sidebar .menu button {
    background-color: #3fb2bb;

    width: 100%;
    padding: 0;
    margin: 0;

    outline: none;
    border: none;
    padding: 13px 20px 13px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0px 4px rgba(0,0,0,0.55);
    border-bottom: 1px solid rgba(0,0,0,0.55);
    cursor: pointer;
}

#sidebar .menu div {
    color: #fafafa;
}