@-webkit-keyframes MENU_FADEIN {
    0%   {
        background-color: rgba(22, 100, 114, 0);
        color: #90a0a0;
    }

    100% {
        background-color: rgba(22, 100, 114, 1);
        color: #fafafa;
    }
}

@-moz-keyframes MENU_FADEIN {
    0%   {
        background-color: rgba(22, 100, 114, 0);
        color: #90a0a0;
    }

    100% {
        background-color: rgba(22, 100, 114, 1);
        color: #fafafa;
    }
}

@keyframes MENU_FADEIN {
    0%   {
        background-color: rgba(22, 100, 114, 0);
        color: #90a0a0;
    }

    100% {
        background-color: rgba(22, 100, 114, 1);
        color: #fafafa;
    }
}

#sidebar {
    text-align: center;

    height: 100%;

    padding: 0;
    margin: 0;
}

#sidebar .menu > button {
    border: none;
    background-color: inherit;

    text-align: left;

    width: 100%;
    padding: 0;
    margin: 0;

    outline: none;
    padding: 13px 20px 13px;
    
    color: #90a0a0;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0px 4px rgba(0,0,0,0.55);

    cursor: pointer;
}

#sidebar .menu > button:hover {
    background-color: rgba(22, 100, 114, 1);
    color: #fafafa;
    -webkit-animation: MENU_FADEIN 0.5s 1;
    -moz-animation:    MENU_FADEIN 0.5s 1;
    animation:         MENU_FADEIN 0.5s 1;
}

#sidebar .menu {
    color: #fafafa;
}

#sidebar > .menu > div {
    margin-bottom: 6px;
}