.sidebar-slider {}

.sidebar-slider input {
    float: left;
}

.sidebar-slider .value  {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    float: left;
}

.sidebar-slider .max-value {
    display: inline-block;
    margin-left: 6px;
    margin-top: 3px;
    float: left;
}

