* {
	font-family: Helvetica;
}

body {
	position: absolute;

	margin: 0;
	padding: 12px;
	overflow: hidden;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #1A2030;
}

#inspector {
	color: #FAFAFA;
	background-color: inherit;
	text-align: center;
	margin-top: 4px;
}

.container {
	background-color: #2b3846;
	height: 100%;
	overflow: scroll;
}

.container .header {
	background-color: #E3D120;	
	margin-bottom: 8px;
	color: #202020;
}

.container .header * {
	display: inline-block;
	padding: 12px 8px;
	margin: 0;

	font-size: 18px;
}

.container .menu-header {
	margin-bottom: 8px;	
}

.container .header h3 {
	
}

.container .header input {
	border: none;
	border-radius: 0;

	background-color: inherit;	
	cursor: pointer;
}

.container .left {
	float: left;
	height: 100%;
}

.container .sidebar {
	width: 15%;
}

.container .main {
	width: 85%;
}

.container .main canvas {
	background-color: #334354;
}

.container .right {
	float: right;
}

.container .clear {
	clear: both;
}