* {
	font-family: Helvetica;
}

body {
	position: absolute;

	margin: 0;
	padding: 12px;
	overflow: hidden;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #1A2030;
}

#inspector {
	color: #FAFAFA;
	background-color: inherit;
	text-align: center;
	margin-top: 4px;
}

.container {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background-color: #2b3846;
	height: 100%;
	overflow: hidden;
}

.container > .header,
.container > .menu-header {
	height: 42px;
	margin-bottom: 1px;
}

.container > .menu-header {
	height: 20px;
	background-color: #efefef;
}

.container .header {
	background-color: #E7D520;	
	color: #202020;
}

.container .header > * {
	display: inline-block;
	padding: 10px 8px;
	margin: 0;

	font-size: 18px;
}

.container .menu-header {
}

.container .header h3 {
	
}

.container .header input {
	border: none;
	border-radius: 0;

	background-color: inherit;	
	cursor: pointer;
}

.container .left {
	float: left;
}

.container .sidebar {
	width: 15%;
}

.container .main {
	width:  85%;
	height: 100%;
}
/* #334354 */
.container .main canvas {
	background-color: #FFF;
}

.container .right {
	float: right;
}

.container .clear {
	clear: both;
}