.time-table .row-container .label{display:inline-block;margin-right:6px}.time-table .row-container .time-step{width:20%;margin-right:6px}.time-table .row-container .time-value{width:40%}.time-table .row-container .time-row{margin:8px 0px}
