.wizard-form {
    margin: 8px;
    width: 50%;
    color: #bababa;
}

.wizard-form .wizard-group,
.wizard-form .wizard-radio-group,
.wizard-form .wizard-checkbox-group {
    width: 100%;

    margin-bottom: 16px;
    margin-left: 16px;
}

.wizard-form .wizard-group          input[type="text"],
.wizard-form .wizard-radio-group    input[type="text"],
.wizard-form .wizard-checkbox-group input[type="text"] {
    width: 100%;
}

.wizard-header {
    font-size: 18px;
    margin-bottom: 12px;
    color: #fafafa;
    margin-left: -16px;
}

.wizard-center {
    text-align: center;
}

.wizard-submit {
    width: 85%
}

.wizard-left {
    float: left;
}

.wizard-right {
    float: right;
}

.wizard-clear {
    clear: both;
}
