@import "colors";

.mb-floating-window {
    position: absolute;
    background-color: $floatingWindowBackground;
    padding: 4px;
}

.mb-floating-window .title {
    width: 100%;
    background-color: $floatingWindowTitleBackground;
    cursor: pointer;
}

.mb-floating-window .clear {
    clear: both;
}

.mb-floating-window .kill-button {
    background-color: $floatingWindowKillBackground;
    color:            $floatingWindowKillFontColor;
    width: 20px;
    height: 20px;
    float: right;

    border-radius: 4px;

    cursor: pointer;
}