.mb-sidebar-slider {}

.mb-sidebar-slider input {

}

.mb-sidebar-slider .value  {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    text-align: left;
    margin-top: 3px;
    float: left;
}

.mb-sidebar-slider .max-value {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    text-align: right;
    margin-top: 3px;
    float: right;
}

