@import "colors";

.mb-scenario {
    color: #202020;
}

.mb-scenario .mb-time-table {
    width: 200px;
    display: inline-block;

    margin:      16px 0px;
    margin-left: 6px;
}

/*.mb-scenario .mb-time-table .row-container {
    height: 150px;
    width: 200px;

    overflow: auto;
}*/

.mb-scenario .mb-time-table .row-container .time-row {
    
}

.mb-scenario .mb-time-table .row-container .time-row .time-step {
    
}

.mb-scenario .mb-time-table .row-container .time-row .time-value {
    
}
