@import "colors";

@-webkit-keyframes MENU_FADEIN {
    0%   {
        background-color: $sidebarHoverFadeIn;
        color:            $sidebarButtonFontColor;
    }

    100% {
        background-color: $sidebarHoverBackground;
        color:            $sidebarButtonHoverFontColor;
    }
}

@-moz-keyframes MENU_FADEIN {
    0%   {
        background-color: $sidebarHoverFadeIn;
        color:            $sidebarButtonFontColor;
    }

    100% {
        background-color: $sidebarHoverBackground;
        color:            $sidebarButtonHoverFontColor;
    }
}

@keyframes MENU_FADEIN {
    0%   {
        background-color: $sidebarHoverFadeIn;
        color:            $sidebarButtonFontColor;
    }

    100% {
        background-color: $sidebarHoverBackground;
        color:            $sidebarButtonHoverFontColor;
    }
}

.mb-sidebar {
    text-align: center;
    overflow: auto;

    height: 100%;

    padding: 0;
    margin: 0;
}

.mb-sidebar .menu > button {
    border: none;
    background-color: inherit;

    text-align: left;

    width: 100%;
    padding: 0;
    margin: 0;

    outline: none;
    padding: 13px 20px 13px;
    
    color: $sidebarButtonFontColor;
    text-decoration: none;
    font-weight: bold;
    text-shadow: $sidebarButtonFontShadow;

    cursor: pointer;
}

.mb-sidebar .menu > button:hover, .mb-sidebar .menu .avatarPreview:hover {
    background-color:  $sidebarButtonHoverBackground;
    color:             $sidebarButtonHoverFontColor;

    -webkit-animation: MENU_FADEIN 0.5s 1;
    -moz-animation:    MENU_FADEIN 0.5s 1;
    animation:         MENU_FADEIN 0.5s 1;
}

.mb-sidebar .menu label,
.mb-sidebar .menu .mb-sidebar-slider {
    color: #fafafa;
}

.mb-sidebar .menu input {
    color: #202020;
}

.mb-sidebar .menu input[type="text"] {
    width: 100%;
}

.mb-sidebar .menu input[type="range"] {
    display: inline-block;
    width: 75%;
}

.mb-sidebar > .menu > div {
    margin-bottom: 6px;
}

.mb-sidebar .menu .avatars {
    text-align: center;
}

.mb-sidebar .menu .avatars:after {
    content: "";
    display: block;
    clear: both;
}

.mb-sidebar .menu .avatarPreview {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    width: 50px;
    /* max-width: 32%;*/
    height: 50px;
    border-radius: 50%;
}

.mb-sidebar label {
    clear: both;
    display: block;
}

.mb-sidebar .menu .avatarPreview.selected:hover {
    -webkit-animation: none;
    -moz-animation:    none;
    animation:         none;
}

.mb-sidebar .menu .avatarPreview img {
    display: block;
    max-width: 84%;
    border-radius: 50%;
    margin: 8%;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.mb-sidebar .menu .avatarPreview.selected {
    background-color: $sidebarAvatarHoverBackground;
}

.mb-sidebar .menu .avatarPreview.selected img {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.mb-sidebar .menu .avatarPreview::nth-child(2n+1) {
    clear: both;
}

.mb-sidebar .menu select {
    width: 100%;
    margin: 10px 0px;
}
