.mb-time-table {
    
}

.mb-time-table .row-container {

}

.mb-time-table .row-container .label {
    display: inline-block;
    margin: 0px 3px;
}

.mb-time-table .row-container .time-step {
    width: 20%;
    margin: 0px 3px;
}

.mb-time-table .row-container .time-value {
    width: 40%;
    margin: 0px 3px;
}

.mb-time-table .row-container .time-row {
    margin: 12px 0px;
}

.mb-time-table .row-container .time-row span:first-child,
.mb-time-table .row-container .time-row input:first-child {
    margin-left: 0px;
}

.mb-time-table .row-container .time-row span:last-child,
.mb-time-table .row-container .time-row input:last-child {
    margin-right: 0px;
}
